In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(np.arange(0,15).reshape(3,5),
               index=['Row1','Row2','Row3'],
               columns=['Col1','Col2','Col3','Col4','Col5'])

In [8]:
df.head()

      Col1  Col2  Col3  Col4  Col5
Row1     0     1     2     3     4
Row2     5     6     7     8     9
Row3    10    11    12    13    14