In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(r'C:\Users\jismi\OneDrive\Desktop\python for Machine Learning  Resource file\archive1\2024 Movies Box Ofice Collection.csv')

In [8]:
df.head()

,Unnamed: 0,Release Group,Worldwide,Domestic,Domestic_percent,Foreign,Foreign_percent,year
0,0,Inside Out 2,"1,59,59,83,694","63,78,52,840",40%,"95,81,30,854",60%,2024
1,1,Deadpool & Wolverine,"1,04,31,80,185","50,69,37,007",48.60%,"53,62,43,178",51.40%,2024
2,2,Despicable Me 4,"80,85,37,571","33,25,83,715",41.10%,"47,59,53,856",58.90%,2024
3,3,Dune: Part Two,"71,18,44,358","28,21,44,358",39.60%,"42,97,00,000",60.40%,2024
4,4,Godzilla x Kong: The New Empire,"56,76,50,016","19,63,50,016",34.60%,"37,13,00,000",65.40%,2024