# CSV

In [17]:
import pandas as pd

In [5]:
import numpy as np

In [25]:
from io import StringIO, BytesIO

In [27]:

# Combine the tuple into a single string
my_data = ('Col1,Col2,Col3\n',
           'a,b,c\n',
           'd,e,f\n',
           '1,2,3')

# Join the tuple into a single string
csv_data = ''.join(my_data)

# Use StringIO to simulate a file object
df = pd.read_csv(StringIO(csv_data))
print(df)

  Col1 Col2 Col3
0    a    b    c
1    d    e    f
2    1    2    3

In [31]:
my_data

('Col1,Col2,Col3\n', 'a,b,c\n', 'd,e,f\n', '1,2,3')

In [33]:
type(csv_data)

str

In [35]:
#reading from specific columns
df = pd.read_csv(StringIO(csv_data),usecols=['Col1','Col3'])

In [37]:
df

  Col1 Col3
0    a    c
1    d    f
2    1    3

In [39]:
df = pd.read_csv(StringIO(csv_data),usecols=['Col1','Col2'])

In [41]:
df

  Col1 Col2
0    a    b
1    d    e
2    1    2

In [43]:
df.to_csv('Example.csv')

In [54]:
diff_data=('z,y,x,w\n',
          '1,2,3,4\n',
          '5,6,7,8\n',
          '9,10,111,12')

In [56]:
# Join the tuple into a single string
diff_data_str = ''.join(diff_data)

In [58]:
# Use StringIO to simulate a file object
df = pd.read_csv(StringIO(diff_data_str), dtype=int)

In [60]:
print(df)

   z   y    x   w
0  1   2    3   4
1  5   6    7   8
2  9  10  111  12

In [62]:
df = pd.read_csv(StringIO(diff_data_str), dtype=float)

In [64]:
df

     z     y      x     w
0  1.0   2.0    3.0   4.0
1  5.0   6.0    7.0   8.0
2  9.0  10.0  111.0  12.0

In [66]:

df = pd.read_csv(StringIO(diff_data_str), dtype=str)

In [68]:
df

   z   y    x   w
0  1   2    3   4
1  5   6    7   8
2  9  10  111  12

In [70]:
df['x']

0      3
1      7
2    111
Name: x, dtype: object

In [74]:
df['x'][2]

'111'

In [76]:
df = pd.read_csv(StringIO(diff_data_str),dtype={'z':'int',
                                               'y':'float',
                                               'w':'int64'})

In [78]:
df['x'][2]

111

In [80]:
df['y'][0]

2.0

In [82]:
df.dtypes

z      int32
y    float64
x      int64
w      int64
dtype: object

In [84]:
type(df['y'][0])

numpy.float64

In [86]:
one_data=('index,a,b,c\n',
         '9,football,basketball,6.2\n',
         '4,black,song,12')

In [90]:
two_data = ''.join(one_data)

In [94]:
pd.read_csv(StringIO(two_data))

   index         a           b     c
0      9  football  basketball   6.2
1      4     black        song  12.0

In [96]:
pd.read_csv(StringIO(two_data),index_col=0)

              a           b     c
index
9      football  basketball   6.2
4         black        song  12.0

In [98]:
pd.read_csv(StringIO(two_data),index_col=1)

          index           b     c
a
football      9  basketball   6.2
black         4        song  12.0

In [102]:
pd.read_csv(StringIO(two_data),index_col=2)

            index         a     c
b
basketball      9  football   6.2
song            4     black  12.0

In [104]:
pd.read_csv(StringIO(two_data),index_col=False)

   index         a           b     c
0      9  football  basketball   6.2
1      4     black        song  12.0