In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv(r'C:\Users\jismi\OneDrive\Desktop\python for Machine Learning  Resource file\archive1\2024 Movies Box Ofice Collection.csv')

In [16]:
df.head()

,Unnamed: 0,Release Group,Worldwide,Domestic,Domestic_percent,Foreign,Foreign_percent,year
0,0,Inside Out 2,"1,59,59,83,694","63,78,52,840",40%,"95,81,30,854",60%,2024
1,1,Deadpool & Wolverine,"1,04,31,80,185","50,69,37,007",48.60%,"53,62,43,178",51.40%,2024
2,2,Despicable Me 4,"80,85,37,571","33,25,83,715",41.10%,"47,59,53,856",58.90%,2024
3,3,Dune: Part Two,"71,18,44,358","28,21,44,358",39.60%,"42,97,00,000",60.40%,2024
4,4,Godzilla x Kong: The New Empire,"56,76,50,016","19,63,50,016",34.60%,"37,13,00,000",65.40%,2024

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        200 non-null    int64
 1   Release Group     200 non-null    object
 2   Worldwide         200 non-null    object
 3   Domestic          200 non-null    object
 4   Domestic_percent  200 non-null    object
 5   Foreign           200 non-null    object
 6   Foreign_percent   200 non-null    object
 7   year              200 non-null    int64
dtypes: int64(2), object(6)
memory usage: 12.6+ KB

In [20]:
df.describe()

       Unnamed: 0    year
count  200.000000   200.0
mean    99.500000  2024.0
std     57.879185     0.0
min      0.000000  2024.0
25%     49.750000  2024.0
50%     99.500000  2024.0
75%    149.250000  2024.0
max    199.000000  2024.0